.messages .ui.pointing.label
  margin-left 0px

.messages .ui.pointing.label:before
  left 15px
  margin-left 0px

.messages .right .ui.pointing.label:before
  right 15px
  left inherit

.messages p
  margin-bottom -5px
.messages p span
  color rgba(0, 0, 0, 0.4);
