template(name="statistics")
  h2.ui.horizontal.header.divider
    i.bar.chart.icon
    | Статистика

  .ui.center.aligned.equal.width.column.grid.stackable
    .column
      .ui.statistic
        .value
          i.user.icon
          | {{getPublishedCount 'researchers'}}
        .label Всех исследователей
    .column
      .ui.statistic
        .value
          i.block.layout.icon
          | {{getPublishedCount 'episodes'}}
        .label Всего эпизодов
    .column
      .ui.statistic
        .value 
          i.help.icon
          | {{getPublishedCount 'riddles'}}
        .label Всего загадок
    .column
      .ui.statistic
        .value 
          i.check.icon
          | {{getPublishedCount 'guessRiddles'}}
        .label Отгадано загадок
    .column 
      .ui.statistic
        .value 
          i.wait.icon
          | {{getPublishedCount 'researchersOnline'}}
        .label Сейчас исследуют
