.bible-text h2
  margin 0 0 10px
  text-align center
  color #777
  font-size 25px
  
.bible-text span
  color #999
  position relative
  font-size 75%
  line-height 0
  vertical-align baseline
  top -.5em

.bible-text p
  margin-bottom 5px

.no-touch .bible-text p.bible:hover
  cursor pointer

.bible-text p.bible.enabled
  color #ffffff
  background-color #5bbd72
  
.bible-text p.bible.enabled span
  color #ffffff