template(name="searchArea")
  .column
    h2.ui.header
      i.search.icon
      .content
        | Область поиска
        .sub.header Выбери стихи

    .ui.segments
      .ui.secondary.segment
        .ui.one.center.aligned.column.grid
          .column
            .ui.large.buttons
              each placesBibleText
                a.ui.blue.basic.button.bible-chapter-tab(data-tab='chapter{{id}}', class="{{active}}") {{place}}
      each placesBibleText
        .ui.tab.segment.bible-text(data-tab='chapter{{id}}', class="{{active}}")
          