template(name="searchArea")
  .column
    h2.ui.header
      i.search.icon
      .content
        | Область поиска

    .ui.segments
      .ui.secondary.segment
        .ui.one.center.aligned.column.grid
          .column
            .ui.large.buttons
              each placesBibleText
                a.ui.blue.basic.button.bible-chapter-tab(data-tab='chapter{{id}}', class="{{active}}") {{place}}
      .ui.secondary.segment
        .ui.grid.stackable.divided
          .seven.wide.column
            h3 Выбери стихи:
          .nine.wide.column
            .ui.padded.grid
              .two.column.row
                .center.aligned.column.green
                  .ui.mini.statistic.horizontal.inverted
                    .value {{selectedVersesCount}}
                    .label выбрано
                .center.aligned.column.teal
                  .ui.mini.statistic.horizontal.inverted
                    .value {{versesCount}}
                    .label всего
      each placesBibleText
        .ui.tab.segment.bible-text(data-tab='chapter{{id}}', class="{{active}}")
          