template(name="riddlesAll")

  .ui.four.cards.stackable
    if pastorMode
      .card
        .content
          a(href="{{pathFor 'newRiddle' _episodeId=_id}}").ui.icon.header.center.aligned
            i.add.icon
            .content Добавить Загадку
              .sub.header Добавить новую загадку
        a(href="{{pathFor 'newRiddle' _episodeId=_id}}").ui.orange.bottom.attached.button
          i.add.icon
          | Добавить

    each riddles
      .card
        if pastorMode
          .content
            .ui.corner.label.position
              h5 {{position}}
            a(href="{{pathFor 'riddle' _episodeId=episodeId _riddleId=_id}}").header {{ucFirst question}}
            .description
              i.book.icon
              | {{scopeSearch}}
              a(href="{{pathFor 'editRiddle' _episodeId=episodeId _riddleId=_id}}")
                .ui.label
                  i.edit.icon
                  | ред.
          .extra.content
            span.left.floated
              i.orange.fire.icon
              | {{plurality intricacy "мудрост"}}
          a(href="{{pathFor 'riddle' _episodeId=episodeId _riddleId=_id}}").ui.green.bottom.attached.button
            i.chevron.right.icon
            | Открыть
        else if guess
          .content
            .ui.corner.label.position
              h5 {{position}}
            a(href="{{pathFor 'riddle' _episodeId=episodeId _riddleId=_id}}").header {{ucFirst question}}
            .description
              i.book.icon
              | {{scopeSearch}}
          .extra.content
            span.right.floated
              i.check.green.icon
              | Отгадана
          a(href="{{pathFor 'riddle' _episodeId=episodeId _riddleId=_id}}").ui.green.bottom.attached.button
            i.repeat.icon
            | Отгадать снова
        else if open
          .content
            .ui.corner.label.position
              h5 {{position}}
            a(href="{{pathFor 'riddle' _episodeId=episodeId _riddleId=_id}}").header {{ucFirst question}}
            .description
              i.book.icon
              | {{scopeSearch}}
          .extra.content
            span.left.floated
              i.orange.fire.icon
              | {{plurality intricacy "мудрост"}}
            span.right.floated
              i.unlock.blue.icon
              | Открыта
          a(href="{{pathFor 'riddle' _episodeId=episodeId _riddleId=_id}}").ui.blue.bottom.attached.button
            i.play.icon
            | Отгадать
        else
          .ui.active.dimmer
            .content
              .center
                h3.ui.inverted.icon.header
                  i.lock.icon
                  | Закрыта
          .content
            .ui.corner.label.position
              h5 {{position}}
            a(href="{{pathFor 'riddle' _episodeId=episodeId _riddleId=_id}}").header {{ucFirst question}}
            .description
              i.book.icon
              | {{scopeSearch}}
          .extra.content
            span.left.floated
              i.orange.fire.icon
              | {{plurality intricacy "мудрост"}}
            span.right.floated
              i.lock.icon
              | Закрыта
          .ui.blue.bottom.attached.button
            i.play.icon
            | Отгадать
