template(name="riddlesAll")
  h2.ui.horizontal.header.divider
    i.block.layout.icon
    | {{title}}
  .ui.four.cards.stackable
    each riddles
      .card
        .content
          .ui.corner.label.position
            h5 {{position}}
          .header {{ucFirst question}}
          .description
            i.book.icon
            | {{books}} {{chapters}}
        if availability
          if next
            .extra.content
              span.left.floated
                i.orange.fire.icon
                | {{plurality intricacy "мудрост"}}
              span.right.floated
                i.unlock.icon
                | Открыта
            a(href="{{pathFor 'riddle' _episodeId=episodeId}}").ui.primary.bottom.attached.button
              i.play.icon
              | Отгадать
          else
            .extra.content
              span.left.floated
                i.orange.fire.icon
                | {{plurality intricacy "мудрост"}}
              span.right.floated
                i.check.icon
                | Отгадана
            a(href="{{pathFor 'riddle' _episodeId=episodeId}}").ui.primary.bottom.attached.button
              i.repeat.icon
              | Отгадать снова
        else
          .extra.content
            span.left.floated
              i.orange.fire.icon
              | {{plurality intricacy "мудрост"}}
            span.right.floated
              i.lock.icon
              | Закрыта
          .ui.disabled.bottom.attached.button
            i.lock.icon
            | Отгадать
          //- для тестирования
          a(href="{{pathFor 'riddle' _episodeId=episodeId}}").ui.primary.bottom.attached.button
            i.repeat.icon
            | Отгадать снова