template(name="riddlesAll")
  h2.ui.horizontal.header.divider
    i.block.layout.icon
    | {{title}}
  .ui.four.cards.stackable
    each riddles
      .card
        unless availability
          unless next
            .ui.active.dimmer
              .content
                .center
                  h3.ui.inverted.icon.header
                    i.lock.icon
                    | Закрыта
        .content
          .ui.corner.label.position
            h5 {{position}}
          .header {{ucFirst question}}
          .description
            i.book.icon
            | {{books}} {{chapters}}
        if availability
          .extra.content
            span.right.floated
              i.check.icon
              | Отгадана
          a(href="{{pathFor 'riddle' _episodeId=episodeId}}").ui.green.bottom.attached.button
            i.repeat.icon
            | Отгадать снова
        else
          if next
            .extra.content
              span.left.floated
                i.orange.fire.icon
                | {{plurality intricacy "мудрост"}}
              span.right.floated
                i.unlock.icon
                | Открыта
            a(href="{{pathFor 'riddle' _episodeId=episodeId}}").ui.blue.bottom.attached.button
              i.play.icon
              | Отгадать
          else
            .extra.content
              span.left.floated
                i.orange.fire.icon
                | {{plurality intricacy "мудрост"}}
              span.right.floated
                i.lock.icon
                | Закрыта
            .ui.blue.bottom.attached.button
              i.play.icon
              | Отгадать