template(name="researchersBest")
  h2.ui.horizontal.header.divider
    i.thumbs.up.icon
    | 12 лучших исследователи

  .ui.four.column.grid.stackable.middle.aligned.centered
    each researchersBest
      .column
        .ui.card.fluid
          .content
            .header
              i.trophy.icon
              | {{username}}
              if status.online
                .ui.green.empty.circular.label(data-content="сейчас исследует", data-variation="inverted")
              else
                .ui.red.empty.circular.label(data-content="исследовал(а) {{fromNow status.lastLogin.date}}", data-variation="inverted")
            .description
              p.city
                i.marker.icon(data-content="город", data-variation="inverted")
                | {{profile.city}}
              p.register
                i.add.user.icon(data-content="зарегистрировался(-ась)", data-variation="inverted")
                | {{fromNow createdAt}}
          .extra.content
            span.right.floated
              i.check.green.icon(data-content="отгадано загадок", data-variation="inverted")
              | {{guessRiddles}}
            i.orange.fire.icon(data-content="мудрость", data-variation="inverted")
            | {{wisdom}}
