template(name="development")
  .ui.grid.centered.stackable
    .twelve.wide.column
      h2.ui.header
        i.life.ring.icon
        .content Разработческая
      p Перевести всех на новую структуру отгаданных загадок 
      p: a(href="#").ui.icon.button
          i.chevron.right.icon 
          | перевести
