body
  min-height 100%

.ui.one.column.page.grid
  min-height 95%
  
.segment.footer
  margin-top 30px
  
.navbar-text.wisdom
  position relative
  margin-right 15px

a.logo
  position relative
  height 23px
  width 172px
  display block
  
@media only screen and (max-width: 767px)
  a.logo
    margin: 0 auto;
  
.step .content .edit-pastor
  position absolute;
  right 14px;
  top 12px;
  
.heart-transition
  margin-right -10px
  height 50px