.ui.one.column.page.grid
  min-height 95%
  
.segment.footer
  margin-top 30px
  
.navbar-text.wisdom
  position relative
  margin-right 15px

a.logo
  position relative
  height 23px
  width 172px
  display block