template(name="commonInterface")
  .ui.one.column.page.grid
    .column
      if currentUser
        .ui.one.column.grid.vertically.padded
          .column
            table.ui.padded.table.blue.celled
              tbody
                tr
                  td
                    a(href="{{pathFor 'research'}}").logo
                      img(src="logo-small.png", alt="ПРОБИБЛИ")
                      .ui.label.mini.floating.tag.orange {{varsion}}
                  td.collapsing.center.aligned
                    h3
                      i.orange.fire.icon
                      | {{plurality wisdomNumber "мудрост"}}
                  td.collapsing.center.aligned
                    h3
                      i.user.icon.circular
                      | {{researcher.username}}
                  if researcher.pastor
                    td.collapsing.center.aligned
                      .ui.toggle.checkbox.pastor
                        input(type='checkbox', name='pastor')
                        label режим пастора
                  td.collapsing
                    a.ui.button.fluid.researcher-exit Выйти

            .ui.fluid.large.steps
              if _id
                a(href="{{pathFor 'research'}}").step
                  i.diamond.icon
                  .content
                    .title Исследовательская
                if episodeId
                  a(href="{{pathFor 'episode' _episodeId=episodeId}}").step
                    i.block.layout.icon
                    .content
                      .title Эпизод
                      .description {{episodeTitle}}
                  .active.step
                    i.help.icon
                    .content
                      .title Загадка
                        .ui.label {{position}}
                else
                  .active.step
                    i.block.layout.icon
                    .content
                      .title Эпизод
              else
                .active.step
                  i.diamond.icon
                  .content
                    .title Исследовательская

      +yield

  .ui.inverted.vertical.segment.footer
    .ui.page.three.column.stackable.grid.very.relaxed
      .column
        h5.ui.inverted.header
          i.copyright.icon
          .content ПРОБИБЛИ 2015
            .ui.orange.label.mini {{varsion}}
            .sub.header версия для внутреннего тестирования
      .column
        h5.ui.inverted.header
          i.mobile.icon
          .content Адаптировано под мобильные устройства
      .column
        h5.ui.inverted.header
          i.rocket.icon
          .content Поддержка только современных браузеров