template(name="commonInterface")
  .ui.one.column.page.grid
    .column
      if currentUser
        .ui.one.column.grid.vertically.padded
          .column
            table.ui.padded.table.blue.celled
              tbody
                tr
                  td
                    a(href="{{pathFor 'research'}}").logo
                      img(src="logo-small.png", alt="ПРОБИБЛИ")
                      .ui.label.mini.floating.tag.orange {{varsion}}
                  td.collapsing.center.aligned
                    h3
                      i.orange.fire.icon
                      | {{plurality wisdomNumber "мудрост"}}
                  td.collapsing.center.aligned
                    h3
                      i.user.icon.circular
                      | {{researcher.username}}
                  if researcher.pastor
                    +pastorCheckbox
                    
                  td.collapsing
                    a.ui.button.fluid.researcher-exit Выйти

            .ui.fluid.large.steps
              unless isActiveRoute regex='research|new-episode'
                a(href="{{pathFor 'research'}}").step
                  i.diamond.icon
                  .content
                    .title Исследовательская
                unless isActiveRoute regex='episode'
                  a(href="{{pathFor 'episode' _episodeId=episodeId}}").step
                    i.block.layout.icon
                    .content
                      .title Эпизод
                      .description {{episodeTitle}}
                      if pastorMode
                        a(href="{{pathFor 'editEpisode' _episodeId=episodeId}}").ui.icon.basic.orange.button.edit-pastor
                          i.edit.icon
                    
                  .active.step
                    i.help.icon
                    .content
                      .title Загадка
                        if position
                          .ui.label {{position}}
                      if pastorMode
                        unless isActiveRoute regex='newRiddle|editRiddle'
                          a(href="{{pathFor 'editRiddle' _episodeId=episodeId _riddleId=_id}}").ui.icon.orange.basic.button.edit-pastor
                            i.edit.icon
                else
                  .active.step
                    i.block.layout.icon
                    .content
                      .title Эпизод
                      .description {{episodeTitle}}
                      if pastorMode
                        unless isActiveRoute regex='editEpisode|newEpisode'
                          a(href="{{pathFor 'editEpisode' _episodeId=_id}}").ui.icon.basic.orange.button.edit-pastor
                            i.edit.icon
              else
                .active.step
                  i.diamond.icon
                  .content
                    .title Исследовательская
      +yield

  .ui.inverted.vertical.segment.footer
    .ui.page.four.column.stackable.grid.very.relaxed
      .column
        h5.ui.inverted.header
          i.copyright.icon
          .content ПРОБИБЛИ 2015
            .ui.orange.label.mini {{varsion}}
            .sub.header версия для внутреннего тестирования
      .column
        h5.ui.inverted.header
          i.mobile.icon
          .content Адаптировано под мобильные устройства
      .column
        h5.ui.inverted.header
          i.rocket.icon
          .content Поддержка только современных браузеров
      .column
        .ui.grid.middle.aligned.heart-block
          .three.wide.column.heart-transition
            .ui.shape
              .sides
                .active.side: i.empty.heart.icon.large
                .side: i.heart.icon.red.large            
          .thirteen.wide.column
            h5.ui.inverted.header
              .content Сделано в Борисове
                .sub.header ул. Гончарная 26
                  i.by.flag

template(name="pastorCheckbox")
  td.collapsing.center.aligned
    .ui.checkbox.pastor
      input(type='checkbox', name='pastor')
      label режим пастора