template(name="commonInterface")
  .ui.one.column.page.grid
    .column
      if currentUser
        .ui.one.column.grid.vertically.padded
          .column
            table.ui.padded.table.blue.celled
              tbody
                tr
                  td
                    a(href="{{pathFor 'research'}}").logo
                      img(src="logo-small.png", alt="ПРОБИБЛИ")
                      .ui.label.mini.floating.tag.orange {{varsion}}
                  td.collapsing
                    h3.ui.center.aligned.header.orange
                      i.fire.icon
                      .content {{plurality wisdomNumber "мудрост"}}
                  td.collapsing
                    h3
                      i.user.icon.circular
                      | {{researcher.username}}
                      a(href="{{pathFor 'support'}}").ui.button.icon.support
                        i.life.ring.icon
                        if supportsNotViewed
                          .floating.ui.blue.label.mini {{supportsNotViewed}}
                  td.collapsing
                    unless sins
                      h3.ui.header.purple
                        i.tint.icon
                        .content святой
                    else
                      h3.ui.header.red.inverted.block.sins
                        i.tint.icon
                        .content {{plurality sins "грех"}}
                  if researcher.pastor
                    +pastorCheckbox

                  td.collapsing.center.aligned
                    button.ui.button.researcher-exit Выйти

            .ui.fluid.large.steps
              if isActiveRoute regex='research'
                .active.step
                  i.lab.icon
                  .content
                    .title Исследовательская
              
              if isActiveRoute regex='episode'
                a(href="{{pathFor 'research'}}").step
                  i.lab.icon
                  .content
                    .title Исследовательская
                .active.step
                  i.block.layout.icon
                  .content
                    .title Эпизод
                    .description {{episodeTitle}}
                    if pastorMode
                      unless isActiveRoute regex='editEpisode|newEpisode'
                        a(href="{{pathFor 'editEpisode' _episodeId=_id}}").ui.icon.basic.orange.button.edit-pastor
                          i.edit.icon
              
              if isActiveRoute regex='riddle'
                a(href="{{pathFor 'research'}}").step
                  i.lab.icon
                  .content
                    .title Исследовательская
                a(href="{{pathFor 'episode' _episodeId=episodeId}}").step
                  i.block.layout.icon
                  .content
                    .title Эпизод
                    .description {{episodeTitle}}
                    if pastorMode
                      a(href="{{pathFor 'editEpisode' _episodeId=episodeId}}").ui.icon.basic.orange.button.edit-pastor
                        i.edit.icon
                .active.step
                  i.help.icon
                  .content
                    .title Загадка
                      if position
                        .ui.label {{position}} из {{episodeRiddlesCount}}
                    if pastorMode
                      unless isActiveRoute regex='newRiddle|editRiddle'
                        a(href="{{pathFor 'editRiddle' _episodeId=episodeId _riddleId=_id}}").ui.icon.orange.basic.button.edit-pastor
                          i.edit.icon
              
              if isActiveRoute regex='^support$'
                a(href="{{pathFor 'research'}}").step
                  i.lab.icon
                  .content
                    .title Исследовательская
                .active.step
                  i.life.ring.icon
                  .content
                    .title Поддержка
              
              if isActiveRoute regex='supportMessages'
                a(href="{{pathFor 'research'}}").step
                  i.lab.icon
                  .content
                    .title Исследовательская
                a(href="{{pathFor 'support'}}").step
                  i.life.ring.icon
                  .content
                    .title Поддержка
                .active.step
                  i.life.ring.icon
                  .content
                    .title Обращение
      +yield

  .ui.inverted.vertical.segment.footer
    .ui.page.stackable.grid
      .four.wide.column
        h5.ui.inverted.header
          i.copyright.icon
          .content ПРОБИБЛИ 2015
            .ui.orange.label.mini {{varsion}}
            .sub.header версия для внутреннего тестирования
      .four.wide.column
        h5.ui.inverted.header
          i.mobile.icon
          .content Адаптировано под мобильные устройства
      .four.wide.column
        h5.ui.inverted.header
          i.rocket.icon
          .content Поддержка только современных браузеров
      .four.wide.column
        h5.ui.inverted.header
          i.heart.icon.red
          .content Сделано в Борисове
            .sub.header ул. Гончарная 26
              i.by.flag

template(name="pastorCheckbox")
  td.collapsing
    .ui.checkbox.toggle.pastor
      input(type='checkbox', name='pastor')
      label режим пастора
