template(name="riddle")
  .container
    .row
      .col-md-12
        h1.text-center Загадка
    .row
      .col-md-6
        h2
          span.glyphicon.glyphicon-question-sign
          | {{ucFirst question}}
        h3
          span.text-muted.glyphicon.glyphicon-book
          span.text-muted {{books}} {{chapters}}
          span.text-warning.glyphicon.glyphicon-fire
          span.text-warning {{plurality intricacy "мудрост"}}
      .col-md-6
        h2
          span.glyphicon.glyphicon-info-sign
          | Область поиска
        p {{bibleText}}