.bible-text h2
  margin 0 0 10px;
  text-align center;
  color #777;
  font-size 25px;
  
.bible-text span
  color #999;
  position relative;
  font-size 75%;
  line-height 0;
  vertical-align baseline;
  top -.5em;

.bible-text p
  margin-bottom 5px

.bible-text p.bible:hover
  background-color: blanchedalmond;
  cursor: pointer;

.bible-text p.bible.enabled
  background-color: skyblue;
  
.response-user .btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle)
  border-top-right-radius: 4px;