template(name="riddle")
  .ui.two.column.grid.stackable
    .column
      h2.ui.header
        i.question.icon
        .content {{ucFirst question}}
          .sub.header
            i.book.icon
            | {{books}} {{chapters}}
            i.orange.fire.icon
            | {{plurality intricacy "мудрост"}}

      +riddleAnswer
          
    +searchArea