template(name="riddle")
  .ui.two.column.grid.stackable
    .column

      h2.ui.header.teal.dividing
        i.question.icon
        .content {{ucFirst question}}
          .sub.header
            if pastorMode
              a.edit-riddle(href="{{pathFor 'editRiddle' _episodeId=episodeId _riddleId=_id}}").ui.icon.orange.basic.button
                i.edit.icon
            i.book.icon
            | {{scopeSearch}}
            i.orange.fire.icon
            | {{plurality intricacy "мудрост"}}

      

      +riddleAnswer
          
    +searchArea

template(name="instruction")
  .ui.segment
    .ui.accordion.instruction-read
      .title.active
        h5.ui.right.aligned.header
          i.icon.dropdown
          | Прочитал инструкцию
      .content.active
        h3.ui.header
          i.lightning.icon.purple
          .content Инструкция
            .sub.header Ознакомся пожалуйста

        .ui.ordered.list.large
          .item
            .content
              | Прочти внимательно вопрос сверху
              i.pointing.up.icon
          .item
            .content
              | Чтобы тебе найти ответ, необходимо справа
              i.pointing.right.icon
              | прочесть текст из области поиска 
          .item
            .content
              | Если ты нашел ответ то выбери
              i.checkmark.icon
              | стих или стихи где находится ответ
          .item        
            .content
              | Далее впиши
              i.write.icon
              | или выбери
              i.checkmark.icon
              | ответ в блок, который находится ниже
              i.pointing.down.icon
          .item
            .content
              | И в конце нажми
              i.paw.icon
              | по кнопке отправить, для проверки того, что ты сделал