body
  padding-top 70px
  
.navbar-brand
  margin-top -3px

.navbar-text.wisdom
  position relative
  margin-right 15px

.wisdom-addition
  position: absolute;
  left 10px
  top 15px
  font-size: 20px;
  line-height: 25px;
  z-index: 2;
  -webkit-animation: move-up 800ms ease-in;
  -moz-animation: move-up 800ms ease-in;
  animation: move-up 800ms ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;

@-webkit-keyframes move-up
  0%
    top: 15px;
    opacity: 1;

  100%
    top: -15px;
    opacity: 0;

@-moz-keyframes move-up
  0%
    top: 15px;
    opacity: 1;

  100%
    top: -15px;
    opacity: 0;
@keyframes move-up
  0%
    top: 15px;
    opacity: 1;

  100%
    top: -15px;
    opacity: 0;