template(name="layout")
  nav(role="navigation").navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button(type="button", data-toggle="collapse", data-target=".navbar-ex1-collapse").navbar-toggle.collapsed
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href="/user").navbar-brand Пробибли
      .collapse.navbar-collapse.navbar-ex1-collapse
        if currentUser
          p.navbar-text.navbar-right.wisdom
            span.text-warning.glyphicon.glyphicon-fire
            strong.text-warning {{plurality wisdom "мудрост"}}
              if wisdomAddition
                span.wisdom-addition {{wisdomAddition}}
          ul.nav.navbar-nav.navbar-right
            +loginButtons

  +yield