template(name="user")
  .container
    .row
      .col-md-12
        h1.text-center Пользователь
    .row
      .col-md-12
        h2.text-center Все Эпизоды
    .row
      each episodes
        +episodeItem

template(name="episodeItem")
  .col-md-4
    .thumbnail
      .caption
        h2= title
        p {{riddlesCount}} загадок
        p 0 пройдено
        p
          a(href="{{pathFor 'episode'}}").btn.btn-primary Пройти 
            span.glyphicon.glyphicon-chevron-right