template(name="user")
  .container
    .row
      .col-xs-12.col-md-12
        h1.text-center.page-header
          small: span.glyphicon.glyphicon-search
          | Исследовательская
    .row
      .col-xs-12.col-md-12
        h2.text-center
          span.glyphicon.glyphicon-th
          | Все Эпизоды
    .row
      each episodes
        +episodeItem

    +usersBest

template(name="episodeItem")
  .col-xs-12.col-md-4.episode-item.text-center
    .thumbnail
      .caption
        h3 {{title}}
          if newEpisode
            span.label.label-info новый
        hr
        h4 ЗАГАДОК <b>{{count.riddles}}</b> / <b>{{count.guess}}</b> ОТГАДАНО
        h5 Прогресс <b>{{count.percent}}%</b>
        .progress.progress-striped
          .progress-bar.progress-bar-warning(role='progressbar' style='width: {{count.percent}}%;') {{count.percent}}%
        hr
        p
          a(href="{{pathFor 'episode'}}").btn.btn-lg.btn-primary Пройти 
            span.glyphicon.glyphicon-chevron-right

template(name="usersBest") 
  .row
    .col-xs-12.col-md-12
      h2.text-center
        span.glyphicon.glyphicon-stats
        | Лучшие Исследователи
  .row
    each users
      .col-xs-12.col-md-3
        .thumbnail.users-best
          .caption
            h2 #{username}
              br
              small #{place} место
            h4.text-warning
              span.text-warning.glyphicon.glyphicon-fire
              | {{plurality wisdom "мудрост"}}