template(name="newEpisode")
  .ui.two.column.grid.centered
    .column
      h2.ui.header
        i.add.icon
        .content Создать эпизод
      .ui.segment
        +autoForm(collection="Episodes" id="insertEpisodeForm" type="insert")
          +afQuickField name="numberRiddles" value="0" type="hidden"
          +afFormGroup name="title"
          .field: button.ui.blue.submit.button.big(type='submit') Создать

template(name="editEpisode")
  .ui.two.column.grid.centered
    .column
      h2.ui.header
        i.edit.icon
        .content Редактировать эпизод
          .sub.header {{title}}
      +autoForm(collection="Episodes" doc=this id="updateEpisodeForm" type="update")
        +afFormGroup name="title"
        +afQuickField name="numberRiddles" type="hidden"
        .field: button.ui.blue.submit.button.big(type='submit') Сохранить