template(name="anonymous")
  .container.anonymous
    .row
      .col-xs-12.col-md-12
        h1.page-header.text-center Давай ПРОБИБЛИ!
        img(src="logo2.png", alt="").center-block
    .row
      .col-xs-12.col-md-12
        h2.text-center Зарегистрируйтесь или Войдите
    .row
      .col-xs-12.col-md-4.col-md-push-4
        .well
          .nav.nav-pills.nav-justified
            +loginButtons
    
    +usersBest