template(name="episodesAll")
  h2.ui.horizontal.header.divider
    i.block.layout.icon
    | Все Эпизоды
  .ui.three.column.grid.stackable.middle.aligned.centered
    if pastorMode
      .column
        .ui.segment
          h1.ui.icon.header.center.aligned
            i.add.icon
            .content Добавить Эпизод
              .sub.header Добавить новый эпизод
          .ui.one.column.grid
            .right.aligned.column
              a(href="{{pathFor 'newEpisode'}}").ui.right.labeled.icon.center.aligned.orange.large.button
                i.add.icon
                | Добавить
    each episodes
      .column
        .ui.stacked.segment.episode-item
          a.ui.header(href="{{pathFor 'episode' _episodeId=_id}}") {{title}}
            if newEpisode
              .ui.teal.label новый
          if description
            p {{description}}
          if period
            p
              i.time.icon
              |{{period}}
          .ui.divider
          .ui.one.column.grid
            .column
              .ui.two.column.grid.stackable
                .center.aligned.column
                  .ui.mini.statistic
                    .value {{count.guess}}
                    .label ОТГАДАНО              
                .ui.vertical.divider из
                .center.aligned.column
                  .ui.mini.statistic
                    .value {{count.riddles}}
                    .label ЗАГАДОК
          .ui.divider
          .ui.indicating.progress(data-value="{{count.guess}}" data-total="{{count.riddles}}")
            .bar
            .label Прогресс прохождения <b>{{count.percent}}%</b>
          .ui.grid
            .six.wide.column.middle.aligned
              if pastorMode
                a(href="{{pathFor 'editEpisode' _episodeId=_id}}").ui.icon.basic.orange.large.button
                  i.edit.icon                
            .ten.wide.column.right.aligned
              if pastorMode
                a(href="{{pathFor 'episode' _episodeId=_id}}").ui.right.floated.labeled.icon.center.aligned.blue.large.button
                  i.chevron.right.icon
                  | Открыть
              else
                a(href="{{pathFor 'episode' _episodeId=_id}}").ui.right.floated.labeled.icon.center.aligned.blue.large.button
                  i.rocket.icon
                  | Вперед
