template(name="riddleAnswer")
  .ui.segment.riddle-answer

    if responseType.string
      form.ui.form.string
        .field
          label Введи текст. Цифры словами
          input(type='text', name='response-user')
        +buttonSubmit

    if responseType.number
      form.ui.form.number
        .field
          label Введи число
          input(type='text', name='response-user')
        +buttonSubmit

    if responseType.options
      form.ui.form.options
        input(type="hidden", name='response-user')
        p Выбери один вариант
        p
          .ui.fluid.large.vertical.buttons
            each responseType.options
              .ui.toggle.button {{this}}
        .ui.error.message
        +buttonSubmit
    
    .ui.basic.modal
      if checkAnswer
        .header Правильно! Поздравляем!
        .content
          .image
            i.inverted.green.check.icon
          .description
            h3 Ты заработал: +2 мудрости.
      else
        .header Не правильно!
        .content
          .image
            i.inverted.red.close.icon
          .description
            h3 Прочти еще раз!
      .actions
        .ui.one.column.grid
          .column.computer.only
            .3.fluid.ui.buttons.large
              .ui.green.basic.inverted.button
                i.block.layout.icon
                | Обзор эпизода
              .ui.basic.inverted.button
                i.repeat.icon
                | Вернуться к загадке
              a(href="#").ui.blue.basic.inverted.button
                i.play.icon
                | Следующая загадка
          .column.mobile.tablet.only
            .3.fluid.ui.inverted.buttons.big
              .ui.green.basic.inverted.button
                i.block.layout.icon
              .ui.basic.inverted.button
                i.repeat.icon
              .ui.blue.basic.inverted.button
                i.play.icon

template(name="buttonSubmit")
  .ui.animated.fade.big.blue.submit.button
    .visible.content Отправить
    .hidden.content
      i.send.icon