template(name="riddleAnswer")
  .ui.segment
    h3.ui.header
      i.lightning.icon.purple
      .content Инструкция
        .sub.header Ознакомся пожалуйста

    .ui.ordered.list.large
      .item
        .content
          | Прочти внимательно вопрос сверху
          i.pointing.up.icon
      .item
        .content
          | Чтобы тебе найти ответ, необходимо справа
          i.pointing.right.icon
          | прочесть текст из области поиска 
      .item
        .content
          | Если ты нашел ответ то выбери
          i.checkmark.icon
          | стих или стихи где находится ответ
      .item        
        .content
          | Далее впиши
          i.write.icon
          | ответ в поле, которое находится ниже
          i.pointing.down.icon
      .item
        .content
          | И в конце нажми
          i.paw.icon
          | по кнопке отправить, для проверки того, что ты сделал

  .ui.segment.riddle-answer

    if responseType.string
      form.ui.form.string
        h3 Введи текст. Если в ответе есть числа, то набирай их словами
        .field
          input(type='text', name='response-user', placeholder="Ответ вводить сюда")
        +buttonSubmit
        .ui.error.message

    if responseType.number
      form.ui.form.number
        h3 Введи число
        .field
          input(type='text', name='response-user')
        +buttonSubmit
        .ui.error.message

    if responseType.options
      form.ui.form.options
        h3 Выбери один вариант
        input(type="hidden", name='response-user')
        p
          .ui.fluid.large.vertical.buttons
            each responseType.options
              .ui.toggle.button {{this}}
        +buttonSubmit
        .ui.error.message

      
    .ui.basic.modal
      .header
        h1.ui.inverted.header
          if notequal checkAnswer false
            | Правильно! Поздравляем!
          else
            | Не правильно!
      .content
        .image
          if notequal checkAnswer false
            i.inverted.green.check.icon
          else
            i.inverted.red.close.icon
        .description
          .ui.two.column.stackable.grid
            .column
              if checkAnswer
                h2.ui.inverted.header
                  i.orange.fire.icon
                  .content Ты заработал:<br>+{{plurality checkAnswer "мудрост"}}
                    .sub.header
                      i.play.icon
                      | Открыта следующая загадка
              else if equal checkAnswer 0
                h2.ui.inverted.header
                  i.repeat.icon
                  .content Ты заработал:<br>{{plurality checkAnswer "мудрост"}}
              else
                h2.ui.inverted.header
                  i.repeat.icon
                  .content Прочти еще раз!
            .column
              h2.ui.inverted.header Время отгадывания:
              .time-circle
      .actions
        .ui.one.column.grid
          .column
            .fluid.ui.inverted.buttons.big(class="{{#if notequal checkAnswer false}} 3 {{else}} 2 {{/if}}")
              a(href="{{pathFor 'episode' _id=episodeId}}").ui.green.basic.inverted.button
                i.block.layout.icon
                span.text-popup Обзор эпизода
              .ui.basic.inverted.button
                i.repeat.icon
                span.text-popup Вернуться к загадке
              if checkAnswer
                a(href="{{pathFor 'riddle' _episodeId=episodeId _id=nextRiddleId}}").ui.blue.basic.inverted.cancel.button
                  i.play.icon
                  span.text-popup Следующая загадка
              else if equal checkAnswer 0
                a(href="{{pathFor 'riddle' _episodeId=episodeId _id=nextRiddleId}}").ui.blue.basic.inverted.cancel.button
                  i.play.icon
                  span.text-popup Следующая загадка

template(name="buttonSubmit")
  .ui.fluid.animated.fade.big.blue.submit.button
    .visible.content Отправить
    .hidden.content
      i.send.icon