head
  title ПРОБИБЛИ

  base(href="/")
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')

  // Bootstrap
  // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
  // WARNING: Respond.js doesn't work if you view the page via file://
  //if lt IE 9
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  
  link(rel="apple-touch-icon", sizes="57x57", href="favicon/apple-touch-icon-57x57.png?v=PYn5AJbJ0E")
  link(rel="apple-touch-icon", sizes="60x60", href="favicon/apple-touch-icon-60x60.png?v=PYn5AJbJ0E")
  link(rel="apple-touch-icon", sizes="72x72", href="favicon/apple-touch-icon-72x72.png?v=PYn5AJbJ0E")
  link(rel="apple-touch-icon", sizes="76x76", href="favicon/apple-touch-icon-76x76.png?v=PYn5AJbJ0E")
  link(rel="apple-touch-icon", sizes="114x114", href="favicon/apple-touch-icon-114x114.png?v=PYn5AJbJ0E")
  link(rel="apple-touch-icon", sizes="120x120", href="favicon/apple-touch-icon-120x120.png?v=PYn5AJbJ0E")
  link(rel="apple-touch-icon", sizes="144x144", href="favicon/apple-touch-icon-144x144.png?v=PYn5AJbJ0E")
  link(rel="apple-touch-icon", sizes="152x152", href="favicon/apple-touch-icon-152x152.png?v=PYn5AJbJ0E")
  link(rel="apple-touch-icon", sizes="180x180", href="favicon/apple-touch-icon-180x180.png?v=PYn5AJbJ0E")
  link(rel="icon", type="image/png", href="favicon/favicon-32x32.png?v=PYn5AJbJ0E", sizes="32x32")
  link(rel="icon", type="image/png", href="favicon/favicon-194x194.png?v=PYn5AJbJ0E", sizes="194x194")
  link(rel="icon", type="image/png", href="favicon/favicon-96x96.png?v=PYn5AJbJ0E", sizes="96x96")
  link(rel="icon", type="image/png", href="favicon/android-chrome-192x192.png?v=PYn5AJbJ0E", sizes="192x192")
  link(rel="icon", type="image/png", href="favicon/favicon-16x16.png?v=PYn5AJbJ0E", sizes="16x16")
  link(rel="manifest", href="favicon/manifest.json?v=PYn5AJbJ0E")
  link(rel="shortcut icon", href="favicon/favicon.ico?v=PYn5AJbJ0E")
  meta(name="msapplication-TileColor", content="#ffffff")
  meta(name="msapplication-TileImage", content="favicon/mstile-144x144.png?v=PYn5AJbJ0E")
  meta(name="msapplication-config", content="favicon/browserconfig.xml?v=PYn5AJbJ0E")
  meta(name="theme-color", content="#e8e8e8")

template(name="loading")
  .ui.segment
    .ui.active.inverted.dimmer
      .ui.text.loader Загрузка...
    h1
    h1