template(name="starting")
  .ui.one.column.page.grid
    .column
      .ui.stackable.two.column.grid
        .column
          .ui.segment
            img(src="logo2.png", alt="").ui.centered.image
        .column
          +atForm
      
      +researchersBest