template(name="episode")
  .container
    .row
      .col-md-12
        h1.text-center {{title}}
    .row
      each riddles
        +riddleItem

template(name="riddleItem")
  .col-md-4
    if availability
      if next
        .panel.panel-primary.riddle-item
          .panel-heading
            h2.panel-title Открыта
              span.glyphicon.glyphicon-ok-circle
          .panel-body
            h3 {{ucFirst question}} <br>
            h4.text-muted
              span.glyphicon.glyphicon-book
              | {{books}} {{chapters}}
            a(href="{{pathFor 'riddle' _episodeId=episodeId}}").btn.btn-primary Отгадать 
              span.glyphicon.glyphicon-chevron-right
            h5.pull-right.text-warning
              span.text-warning.glyphicon.glyphicon-fire
              | {{plurality intricacy "мудрост"}}
      else
        .panel.panel-success.riddle-item
          .panel-heading
            h2.panel-title Отгадана
              span.glyphicon.glyphicon-ok
          .panel-body
            h3 {{ucFirst question}} <br>
            h4.text-muted
              span.glyphicon.glyphicon-book
              | {{books}} {{chapters}}
            a(href="{{pathFor 'riddle' _episodeId=episodeId}}").btn.btn-primary Отгадать 
              span.glyphicon.glyphicon-chevron-right
            h5.pull-right.text-warning
              span.text-warning.glyphicon.glyphicon-fire
              | {{plurality intricacy "мудрост"}}
    else
      .panel.panel-default.riddle-item
        .panel-heading
          h2.panel-title Закрыта
            span.glyphicon.glyphicon-ban-circle
        .panel-body
          h3 {{ucFirst question}} <br>
          h4.text-muted
            span.glyphicon.glyphicon-book
            | {{books}} {{chapters}}
          a(href="#").btn.btn-default.disabled Отгадать 
            span.glyphicon.glyphicon-lock
          h5.pull-right.text-warning
            span.text-warning.glyphicon.glyphicon-fire
            | {{plurality intricacy "мудрост"}}