template(name="episode")
  .container
    .row
      .col-md-12
        h1.text-center {{title}}
    .row
      each riddles
        +riddleItem

template(name="riddleItem")
  .col-md-4
    .thumbnail.riddle-item
      .caption.clearfix
        h3 {{ucFirst question}} <br>
        h4.text-muted
          span.glyphicon.glyphicon-book
          | {{books}} {{chapters}}
        if availability
          a(href="{{pathFor 'riddle' _episodeId=episodeId}}").btn.btn-primary.choose-riddle Отгадать 
            span.glyphicon.glyphicon-chevron-right
        h5.pull-right.text-warning
          span.text-warning.glyphicon.glyphicon-fire
          | {{plurality intricacy "мудрост"}}